What is Python?
"Python is a beginner-friendly and versatile programming language. It’s widely used for web development, AI, data science, and automation. Let’s start with a simple program."

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Python is a versatile and beginner-friendly programming language.

print("Hello world")

Hello world

In [ ]:
# Example of three Python libraries
import math  # For mathematical operations
import random  # For random numbers
import datetime  # For date and time

# Using libraries
print("Square root of 16:", math.sqrt(16))
print("Random number between 1 and 10:", random.randint(1, 10))
print("Current date and time:", datetime.datetime.now())

Square root of 16: 4.0
Random number between 1 and 10: 10
Current date and time: 2024-12-04 16:34:00.490239

Printing and Getting Input
"Python makes it very easy to display messages and get input from users. Here's an example."

python
Copy code

In [ ]:
# Printing a message
print("Welcome to Python basics!")

# Getting user input
name = input("Enter your name: ")
print("Hello, " + name + "! Nice to meet you.")

Welcome to Python basics!
Enter your name: AICVS
Hello, AICVS! Nice to meet you.

Variables
"Variables store data, and they can hold different types of data like numbers, strings, etc."

In [ ]:
# Variables store data
age = 20  # Integer
height = 5.5  # Float
name = "Alice"  #String

print("Name:", name)
print("Age:", age)
print("Height:", height)

Name: Alice
Age: 20
Height: 5.5

Float to Integer:
"Here we convert a float value into an integer using the int() function. Notice how it truncates the decimal part."

In [ ]:
pi = 3.14
integer_pi = int(pi)
print("Original value:", pi, "-> Converted value:", integer_pi)

Original value: 3.14 -> Converted value: 3

Loops
"Loops let you repeat actions. Let me show you a for loop and a while loop."

In [ ]:
# Using a for loop
for i in range(5):  # Loops from 0 to 4
    print("Count:", i)

# Using a while loop
n = 3
while n > 0:
    print("Countdown:", n)
    n -= 1  # Decrement

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4
Countdown: 3
Countdown: 2
Countdown: 1

If-Else Statements
"Finally, we’ll look at decision-making using if-else. This program checks if a number is even or odd."

In [ ]:
# Checking even or odd
number = int(input("Enter a number: "))
if number % 2 == 0:
    print(number, "is even.")
else:
    print(number, "is odd.")

Enter a number: 12
12 is even.

Introduce Strings:
"Strings are a sequence of characters used to store text. You can create strings using single quotes, double quotes, or triple quotes for multi-line text.

In [ ]:
single_quote = 'Hello'
double_quote = "World"
triple_quote = '''This is
a multi-line string.'''
print("Single Quote String:", single_quote)
print("Double Quote String:", double_quote)
print("Triple Quote String:", triple_quote)

Single Quote String: Hello
Double Quote String: World
Triple Quote String: This is
a multi-line string.

"You can combine strings using the + operator, which is called concatenation. Here's an example:"

In [ ]:
greeting = "Hello"
name = "All"
full_greeting = greeting + ", " + name + "!"
print("Concatenated String:", full_greeting)

Concatenated String: Hello, All!

String Indexing and Slicing:
"You can access specific characters in a string using an index. Remember, Python starts counting from 0. You can also extract parts of the string using slicing."

In [ ]:
text = "Python"
print("First character:", text[0])  # Access first character
print("Last character:", text[-1])  # Access last character
print("Substring (2nd to 4th):", text[1:4])  # Slicing

First character: P
Last character: n
Substring (2nd to 4th): yth

String Methods:
"Python provides several built-in methods to manipulate strings. Let's see some examples."

In [ ]:
example = "  Hello, All!  "
print("After stripping spaces:", example.strip())  # Removes spaces
print("Uppercase:", example.upper())  # Converts to uppercase
print("Lowercase:", example.lower())  # Converts to lowercase
print("String length:", len(example))  # Finds string length

After stripping spaces: hhello
Uppercase:   HHELLO
Lowercase:   hhello
String length: 10

EXERCISE !!

In [ ]:
Class_name = input('Enter the name of the class: ')
No_of_student = int(input('Enter the total number of students: '))

print('The name of the class is ' + Class_name)
print('Total number of students in class ' + Class_name + ' is:', No_of_student)
print('-' * 50)

print('CLASS DETAILS ARE AS FOLLOWS:\n')
print("Class name: ", Class_name)
print('Roll numbers are:')

i = 1
while i <= No_of_student:
    print('\t', i, end=' ')  # Ensure proper indentation
    i += 1

print('\n' + '-' * 50)

Enter the name of the class: A2
Enter the total number of students: 15
The name of the class is A2
Total number of students in class A2 is: 15
--------------------------------------------------
CLASS DETAILS ARE AS FOLLOWS:

Class name:  A2
Roll numbers are:
	 1 	 2 	 3 	 4 	 5 	 6 	 7 	 8 	 9 	 10 	 11 	 12 	 13 	 14 	 15
--------------------------------------------------